.sm a{
  color: #151515 ;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;

}
.sm a{
  text-decoration: none;
}
.sm a:hover{
  color: #C8C6C6;
}

#home .buttons{
  margin-top: 60px;
}

#home .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color:#11999E;
}
